PORT=5000
CLIENT_URL=http://localhost:5173
TYPE_OF_DB=mysql

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root:@localhost:3306/getstocks"
# DATABASE_URL="mysql://getstock:getstock@103.122.162.175:8000/getstock"

TOKEN_SECRET=get-stocks
TOKEN_LIFE_ACCESS_TOKEN=1h
TOKEN_LIFE_REFRESH_TOKEN=1d

APP_NAME=GetStock
EMAIL_PORT=587
EMAIL_HOST=smtp.gmail.com
EMAIL_APP=
EMAIL_APP_PASSWORD=